//Colors
$primary-color: #FFFFFF;
$secondary-color: #000000;
$age-rate-color:#252928;
$btn-header-bg: rgba(51,51,51,0.4);
$hover-btn-header-bg: #E6E6E6;
$nav-bg: #141414;
$progress-bar: #606060;
$progress-status:#B3212C;
$footer-text: #7F7F7F;
$match: #46D36A;

//Font Family
$primary-font: Helvetica, sans-serif;