footer {
	height: 246px;
    width: 849px;
    margin: 135px 362px 35px 229px;
    display: flex;
    flex-direction: column;
    .social-media {
        width: 191px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .sections {
        width: 849px;
        margin: 17px 0 77px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .section-content {
            display: flex;
            flex-direction: column;
            span {
                margin-bottom: 13px;
                a {
                    color: $footer-text;
                    font-size: 13px;
                    letter-spacing: 0.25px;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.netflix-inc {
    color: $footer-text;
	font-size: 14px;
	letter-spacing: 0.11px;
	line-height: 17px;
}

//SEARCH
.footer-search {
    margin: 142px 362px 35px 229px;
}