.container-header {
    display: flex;
    flex-direction: column;
    margin-top: 184px;
    margin-left: 58px;
    .movie-title {
        width: 459px;
        margin-left: 3px;
    }
    .btn-header {
        margin-top: 30px;
        margin-bottom: 27px;
        .btn-play, .btn-list {
            color: $primary-color;
            padding:12px 35px 11px 34px;
            border-radius: 3px;
            background-color: $btn-header-bg;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.2px;
            .play-icon-black, .plus-icon-black {
                display: none;
            }
        }
        .btn-play:hover, .btn-list:hover {
            background-color: $hover-btn-header-bg;
            color: $secondary-color;
            .play-icon, .plus-icon {
                display: none;
            }
            .plus-icon-black {
                display: initial;
                margin-right: 6px;
            }
            .play-icon-black {
                display: initial;
                margin-right: 7px;
            }

        }
        .btn-play {
            margin-right: 8px;
        }
        .play-icon {
            margin-right: 7px;
        }
        .plus-icon {
            margin-right: 6px;
        }
    }
    .subtitle-movie {
        height: 26px;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 0.22px;
        line-height: 26px;
    }
    .description-movie {
        height: 75px;
        width: 485px;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 25px;
        margin-top: 3px;
    }
    .age-rate {
        align-self: flex-end;
        padding: 7px 51px 6px 13px;
        border-left: 3px solid $primary-color;
        background-color: $age-rate-color;
        margin-top: -13px;   
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.16px;
    }
}