html.debug {
    background: transparent url(/mockups/01-search.jpg) no-repeat top left;
	background-size: 100%;
}
//Reset
*,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: $primary-color;
	font-family: $primary-font;
	background-image: url("../movie-images/pelicula-inocents.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 100%;
	background-color: $nav-bg;
	&.no-bg {
		background-image: none;
		background-color: $nav-bg;
		iframe {
			width: 100vw;
			height: 100vh;
		}
	}
}

//Remove Style of links
a {
	text-decoration: none;
}
