// ======================================
//  Reset
// ======================================

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//tricks to work better //delete when finished.------------------------------------


// html.debug {
// 	// background: transparent url(/ikigai-project-5-netflix-clone-html-css-CristianDavidCabrera/mockups/00-home.jpg) no-repeat top left;
//   background: transparent url(/ikigai-project-5-netflix-clone-html-css-CristianDavidCabrera/mockups/00-home-with-hovers.jpg) no-repeat top left;
  
//   background-size: 100%;
	
// 	body {
// 		opacity: 0.7;
// 	}
// }

//tricks to work better------------------------------------------------------------

